.card {
  width: 90%;
  height: 100%;
  padding: 10px;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-direction: column;
}
.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.btn {
  padding: 5px 10px;
  font-size: 12px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-success {
  background-color: #28a745;
  color: #fff;
  border: none;
}

.btn-success:hover {
  background-color: #218838;
}

.not-allowed {
  pointer-events: auto !important;
  cursor: not-allowed !important;
  background-color: red;
}
.not-allowed:hover {
  background-color: red;
}
.border {
  border: 1px solid red;
  padding: 10px;
}
